/* some style */

/* Create two equal columns that sits next to each other */
.column {
  resize: none;
  position: center;
  flex: 50%;
  padding: 0 4px;
  padding-left: 17%;
  z-index: 1;
  margin-bottom: -25%;
  margin-top: 5%;
  pointer-events: none;
}


#rowone {
 z-index: 1;
 margin-bottom: 50%;
 margin-top: -39.2%;
 /*pointer-events: none;*/
}

#first-image {
 margin-left: -3%;
 /*pointer-events: none;*/
}

#second-image {
 margin-left: 4.5%;
 /*pointer-events: none;*/
}


#third-image {
 margin-left: 6%;
 /*pointer-events: none;*/
}


.row {
  padding-left: 32%;
}

.flex-container3 {
  z-index: -1;
  padding-left: 3%;
  position: center;
  align-items: center;
}
.flex-container2 {
  z-index: -1;
  padding-left: 3%;
  position: center;
  align-items: center;
}
.flex-container1 {
  z-index: -1;
  padding-left: 3%;
  position: center;
  align-items: center;
}

